.burger {
    display: none;

    @include mob {
        display: flex;
        justify-content: end;
        flex-direction: row-reverse;
    }

    &__button {
        width: 32px;
        height: 20px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        & span,
        &::after,
        &::before {
            position: absolute;
            left: 0;
            height: 3px;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: $dark-grey;
            border-radius: 20px;
        }

        &::after,
        &::before {
            content: "";
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

        &--active {
            & span {
                transform: scale(0) translate(0, -50%);
            }
            &::before {
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }
            &::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
    }

    &__menu {
        position: fixed;
        top: 103px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: $light-grey;
        transform: translateX(-100%);
        transition: transform 0.5s;
        overflow: auto;

        &--active {
            transform: translateX(0);
        }
    }

    &__sub-menu {
        display: none;

        a {
            color: $grey;
        }

        &--active {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 19px;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        min-width: 100%;

        li {
            position: relative;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;

        color: $dark-grey;

        img {
            transform: rotate(0deg);
        }

        &--active {
            img {
                transform: rotate(180deg);
            }
        }
    }

    &__exit {
        position: absolute;
        bottom: 143px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        max-height: 100%;
    }

    &__sub-section {
        display: none;

        a {
            padding: 10px;
            color: $dark-grey;
        }

        &--active {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 10px 0;
        }
    }
}

.sub-burger {
    &__section {
        display: none;
        top: 30px;
        left: 0;
        min-width: max-content;
        padding: 19px 0 19px;

        &--active {
            display: block;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 200px;
        padding: 5px 10px;
        color: $dark-grey;
        background: $light-grey;

        img {
            transform: rotate(270deg);
        }
    }
}

.sub-sub-burger {
    &__section {
        display: none;
        top: 30px;
        left: 0;
        min-width: max-content;
        padding: 10px 0 0;

        &--active {
            display: block;
        }
    }
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        color: $dark-grey;
        background: $light-grey;
    }
}

.search {
    &__box {
        @include mob {
            // display: none;
            margin-left: 73px;
            transition: all 0.3s ease 0s;
            transform: scale(0) translate(-50%, 0);
        }
    }

    &__text {
        display: none;
        padding: 0 42px 0 10px;
        max-width: 122px;
        min-height: 30px;

        background: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

        background-image: url(@img/search-icon.svg);
        background-repeat: no-repeat;
        background-position: 84px;

        caret-color: #d2d2d2;
        transition: all 0.3s ease 0s;
        transform: scale(0) translate(-50%, 0);
    }
}

.search__box--active,
.search__text--active {
    display: block;
    transform: scale(1) translate(0, 0);
}
