.burger {
    display: none;

    @include mob {
        display: flex;
        justify-content: end;
        flex-direction: row-reverse;
    }

    &__button {
        width: 33px;
        height: 20px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        & span {
            width: 33px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #222222;
            transition: all 0.5s;

            &:nth-of-type(2) {
                top: calc(50% - 8px);
            }

            &:nth-of-type(3) {
                top: calc(50% + 8px);
            }
        }
    }

    &__menu {
        position: fixed;
        top: 103px;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: $light-grey;
        transform: translateX(-100%);
        transition: transform 0.5s;

        &--active {
            transform: translateX(0);
        }
    }

    &__section {
        display: flex;
        flex-direction: column;

        li {
            position: relative;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;

        color: $dark-grey;

        &--active {
            img {
                transform: rotate(360deg);
            }
        }
    }
}

.sub-burger {
    &__section {
        display: none;
        top: 30px;
        left: 0;
        min-width: max-content;
        padding: 10px 0 0;

        &--active {
            display: block;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        color: $dark-grey;
        background: $light-grey;
    }
}
